APP_NAME=SyDRA
APP_ENV=local
APP_URL=http://localhost:8888/SyDRA/public
APP_DEBUG=true
APP_LOCALE=fr

DB_HOST=127.0.0.1
DB_PORT=8889
DB_NAME=sydra
DB_USER=root
DB_PASS=root

GOOGLE_MAPS_API_KEY=
MAIL_FROM=noreply@sydra.local
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
